# Created by .ignore support plugin (hsz.mobi)
.idea
priv_validator.json
scratch/
bin/
.DS_Store

# tests
*.log
.burrow
test_scratch/

*.output.json
.gopath_burrow
tests/**/abi/
**/*_vector.json
node_modules/
